@media only screen and (max-width: 600px) {
    .inline-menu {
        display: flex;
        width: 100%;
        flex-wrap: wrap;
        white-space: normal;
        line-height: 2.5em;

    }
}

body {
    background-image: linear-gradient(rgba(51, 50, 50, 0.396), rgba(51, 50, 50, 0.396)), url('../img/pugies2.png');
    background-size: cover;
    background-attachment: fixed;
}

a:visited {
    color: pink;
}

a:hover {
    color: blue;
}

a:active {
    color: pink
}

/* MENU */

ul.inline-menu li {
    display: inline;
    margin-right: 20px;
    font-weight: bold;
}

ul.inline-menu li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 2px solid #212121;
    border-radius: 10px;
}

ul.inline-menu li a:active {
    color: beige;
}

ul.inline-menu li a:visited {
    color: beige;
}

ul.inline-menu li a:hover {
    color: blue;
}

/* MENU END */





/* INDEX.HTML */
.main-text {
    margin-top: 50px;
    font-size: large;
    font-weight: bolder;
    display: flex;
    justify-content: center;
    color: beige;

}

.fun-layout {
    display: flex;
    flex-direction: row;
}

.video-container {
    flex-grow: 1;
    align-self: center;
    padding-right: 200px;
}

/* INDEX END */






/* LAYOUTS.HTML */

.orange {
    color: orange
}

.pink {
    color: pink;
}

tr td {
    border: 1px solid white;
    color: #212121;
    background-color: lightgray;
}

.test-table {
    border-collapse: collapse;
    margin-top: 50px;

}

/* LAYOUTS END */






/* FUN.HTML */

.flex {
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.video-container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.fun-list {
    margin-top: 50px;
    color: #fff700;
}

h1 {
    color: #0000FF;
}

h2 {
    color: #FF0000;
}

h3 {
    color: orange;
}

/* FUN END */






/* HOMEWORK.HTML */

.homework-header {
    margin-left: 50px;
    color: rgb(252, 177, 15);
    text-shadow: 0 0 3px #787878, 0 0 5px #000000;
    margin-top: 50px;
}

/* Header margin */
.homework1 ol {
    margin-top: 0px;

}

.homework1 h2 {
    margin-bottom: 10px;

}

.homework2 ol {
    margin-top: 0px;

}

.homework2 h2 {
    margin-bottom: 10px;

}

.homework3 ol {
    margin-top: 0px;

}

.homework3 h2 {
    margin-bottom: 10px;

}

.homework4 ol {
    margin-top: 0px;

}

.homework4 h2 {
    margin-bottom: 10px;

}

/* header margin end */


.deadline {
    margin-left: 42px;
    margin-top: 10px;
    color: rgb(230, 228, 228);
    text-shadow: 0 0 3px #b9aeed, 0 0 5px #000000;
}

.homework2 li:hover {
    color: #ffffff;
}

.homework3 li:hover {
    color: #ffffff;
}

.homework4 li:hover {
    color: #ffffff;
}

input[type='checkbox'] {
    accent-color: rgb(208, 240, 25);
}