<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="apple-touch-icon" sizes="180x180" href="../favicon.ico/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../favicon.ico/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../favicon.ico/favicon-16x16.png">
    <link rel="manifest" href="../favicon.ico/site.webmanifest">
    <link rel="mask-icon" href="../favicon.ico/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">
    
</head>

<body>
    <div class="site-menu">
        <ul class="inline-menu">
            <li><a href="../index.html">Index</a></li>
            <li><a href="#">Layuots</a></li>
            <li><a href="../homework/homework.html">Homework</a></li>
            <li><a href="../fun/fun.html">Fun</a></li>
            <li><a href="https://plesniewska.github.io/js-lessons/">Strona Paulinki</a></li>
        </ul>
    </div>

    <table class="test-table">
        <tr>
            <td>Paulina ma zepsutego laptopa, Col 1</td>
            <td>Row 1, Col 2</td>
            <td>Row 1, Col 3</td>
        </tr>
        <tr>
            <td>Row 2, Col 1</td>
            <td>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse aliquet semper molestie. Cras
                consectetur mi ac arcu viverra, in consequat lorem eleifend. Ut ullamcorper blandit quam vitae
                molestie.
                Vivamus fringilla nulla a ultricies euismod. Praesent tempor imperdiet mattis. Vestibulum dapibus
                euismod dolor, quis cursus purus gravida at. Sed auctor nec libero quis accumsan. Quisque fringilla
                iaculis dolor ac pellentesque. Vestibulum id est interdum, convallis velit ut, volutpat eros. Fusce
                ac
                ante eu lectus dapibus dapibus. Quisque sed rutrum leo. Suspendisse vitae molestie lacus. Fusce
                hendrerit urna vel gravida ultrices.</td>
            <td>Row 2, Col 3</td>
        </tr>
        <tr>
            <td>Row 3, Col 1</td>
            <td>Row 3, Col 2</td>
            <td>Row 3, Col 3</td>
        </tr>

    </table>

    <div class="orange">div1</div>
    <div class="orange">div2</div>
    <div class="pink">div3</div>
    <p class="pink">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
    <div class="container flex">
        <span>1</span>
        <span>2</span>
        <span>3</span>


    </div>

</body>

</html>